language: java
sudo: false

jdk:
  - oraclejdk8

install: true
script: ./travis.sh
env:
  - TEST=ci
matrix:
  fast_finish: true

cache:
  directories:
    - '$HOME/.m2/repository'

notifications:
  email: false
  webhooks:
    - secure: "W2KMCYTiAXrxgJW9ErsCTuLbLzUPYN2zEVPseOIooOwBajdPyefJ5hASUQXT2h06e6e5ID44xD70zZ3BXucPkXTFD2s1BcHpb7tzJt9vgaraZJFu4eBRRFG7hnqsJUWNzyTukGOypvbZtg5jnS39mDHSUk/RmugNZlvs9uBrzE8="
  on_start: always
