<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="Monkey" file="C:\projets\PHP\Monkey\Sources\test\Monkey.php" tests="3" assertions="0" failures="0" errors="0" time="0.447311">
    <testcase name="testSleepAction" className="Monkey" file="C:\projets\PHP\Monkey\Sources\test\Monkey.php" line="51" assertions="0" time="0.447311">
    <failure>yo</failure>
    </testcase>
    <testcase name="testEatAction" className="Monkey" file="C:\projets\PHP\Monkey\Sources\test\Monkey.php" line="51" assertions="0" time="0.0">
    <failure>yo</failure>
    </testcase>
    <testcase name="testClimbAction" className="Monkey" file="C:\projets\PHP\Monkey\Sources\test\Monkey.php" line="51" assertions="0" time="0.0">
    <error>yo</error>
    </testcase>
  </testsuite>
  <testsuite name="Banana" file="C:\projets\PHP\Monkey\Sources\test\Banana.php" tests="1" assertions="0" failures="0" errors="0" time="0.57">
    <testcase name="testFallFromTreeAction" className="Banana" file="C:\projets\PHP\Monkey\Sources\test\Banana.php" line="51" assertions="0" time="0.57">
    <error>yo</error>
    </testcase>
  </testsuite>
</testsuites>