name: lock-branch-test.yml
on:
  pull_request:

jobs:
  ToggleLockBranch_job:
    name: Toggle lock branch
    runs-on: github-ubuntu-latest-s
    permissions:
      id-token: write
    steps:
      - id: secrets
        uses: SonarSource/vault-action-wrapper@v3
        with:
          secrets: |
            development/github/token/{REPO_OWNER_NAME_DASH}-lock token | lock_token;
            development/kv/data/slack token | slack_api_token;
      - uses: sonarsource/gh-action-lt-backlog/LockBranch@nw/GHA-163
        with:
          github-token: ${{ fromJSON(steps.secrets.outputs.vault).lock_token }}
          slack-token: ${{ fromJSON(steps.secrets.outputs.vault).slack_api_token }}
          slack-channel: squad-security-taint-notifs
          branch-pattern: ${{ inputs.branch || 'master' }}
          lock: 'true'
      - uses: sonarsource/gh-action-lt-backlog/LockBranch@nw/GHA-163
        with:
          github-token: ${{ fromJSON(steps.secrets.outputs.vault).lock_token }}
          slack-token: ${{ fromJSON(steps.secrets.outputs.vault).slack_api_token }}
          slack-channel: squad-security-taint-notifs
          branch-pattern: ${{ inputs.branch || 'master' }}
          lock: 'false'
